# Check Bans

Use PRAW to check if a list of Reddit accounts have been banned or suspended.

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("data/users_by_title_embeddings_source_labels.tsv", sep='\t')

In [33]:
import praw
from prawcore.exceptions import NotFound

reddit = praw.Reddit(client_id='',
                     client_secret='',
                     user_agent='',
                     username='')

def user_exists(name):
    try:
        reddit.redditor(name).id
    except NotFound:
        return 'banned'
    except Exception as e:
        # At the time of writing, this was due to suspended accounts
        # Worth verifying if this is the same for future runs
        # and filtering by excpetion type more specifically
        return 'suspended'
    return 'exists'

In [34]:
results = []

for d in df['author']:
    results.append(user_exists(d))

In [35]:
removed_df = pd.DataFrame(results)

In [36]:
removed_df.to_csv("user_removals.csv")

In [37]:
removed_df

           0
0     exists
1     exists
2     exists
3     exists
4     exists
...      ...
2003  exists
2004  exists
2005  exists
2006  exists
2007  exists

[2008 rows x 1 columns]

In [39]:
df['status'] = removed_df

In [40]:
df.to_csv("data/user_by_title_labels_with_source_and_status.tsv", sep="\t", index=False)